@model IEnumerable<BookStoreMvcWeb.Domain.Entities.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminView.cshtml";
}
<div class="container">
    <h2>Panel administracyjny</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { ProductId = item.ProductID }) |
                    @Html.ActionLink("Details", "Details", new { ProductId = item.ProductID }) |
                    @Html.ActionLink("Delete", "Delete", new { ProductId = item.ProductID })
                </td>
            </tr>
        }
    </table>
</div>
